:root {
  --clr-primary: rgb(2, 173, 173);
  --clr-accent: rgb(41, 241, 148);
  --clr-secondary: black;

  --bg-primary: linear-gradient(45deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 1));

  --font-primary: "Josefin Sans", sans-serif;

  --btn-border-primary: 0.15em solid var(--clr-primary);
  --btn-border-accent: 0.15em solid var(--clr-accent);
  --btn-border-secondary: 0.15em solid var(--clr-secondary);
  --btn-radius: 15px;

  --transition035: all 0.35s linear;
  --transition025: all 0.25s linear;
  --transition015: all 0.15s linear;
  --transition01: all 0.1s linear;

  --link-padding-sm: 0.2em 0.2em 0.2em 0;
  --link-padding-md: 0.2em 0.2em 0.2em 0;
  --link-padding-lg: 0.2em 0.2em 0.2em 0;
  --link-margin-sm: 0.1em 0 0.1em 0;
  --link-margin-md: 0.1em 0 0.1em 0;
  --link-margin-lg: 0.1em 0 0.1em 0;
}
.lightmode {
  --bg-primary: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgb(255, 255, 255));
  --clr-primary: rgb(0, 0, 0);
  --clr-secondary: rgb(250, 246, 246);
  --clr-accent: rgb(62, 128, 182);
  --btn-border-accent: 0.15em solid var(--clr-accent);
  --btn-border-primary: 0.15em solid var(--clr-primary);
  --btn-border-secondary: 0.15em solid var(--clr-secondary);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-primary);
  font-weight: 500;
  background: var(--bg-primary);
  color: var(--clr-primary);
  transition: var(--transition035);
}
section {
  padding: 1.5em 1em 1.5em 1em;
  min-height: 100vh;
  width: 94%;
  margin: auto;
}
h1 {
  font-size: 3.3rem;
  text-transform: capitalize;
  padding: 0.1rem;
}
h3 {
  font-size: 1.8rem;
  padding: 0.1rem;
}
h4 {
  font-size: 1.3rem;
  padding: 0.1rem;
}
p {
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  padding: 0.1rem;
}
button {
  font-size: 1.1em;
  font-weight: 700;
  padding: 0.5em;
  margin: 0 0.3em 0 0.3em;
  cursor: pointer;

  background-color: transparent;
  color: var(--clr-primary);
  border: var(--btn-border-accent);
  transition: var(--transition025);
}
button:hover {
  background-color: var(--clr-accent);
  border: var(--btn-border-primary);
  color: var(--clr-secondary);
}
@media only screen and (max-height: 475px) {
  section {
    min-height: 475px;
  }
}
@media screen and (min-width: 768px) {
  section {
    padding: 2.5em 2em 2.5em 2em;
    width: 80%;
    margin: auto;
  }
  h1 {
    font-size: 3.5rem;
    padding: 0.2rem;
  }
  h3 {
    font-size: 2rem;
    padding: 0.2rem;
  }
  h4 {
    font-size: 1.5rem;
    padding: 0.2rem;
  }
  p {
    font-size: 1.2rem;
  }
  button {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1080px) {
  section {
    padding: 2.5em 2em 2.5em 2em;
  }
  h1 {
    font-size: 3.8rem;
    padding: 0.3rem;
  }
  h3 {
    font-size: 2.3rem;
    padding: 0.3rem;
  }
  p {
    font-size: 1.4rem;
  }
  button {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1920px) {
  section {
    max-width: 1920px;
  }
}
/* PRELOADER */
.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-secondary);
  z-index: 999;
  color: var(--clr-accent);
}
.preloader-hide {
  display: none;
}
/* HOME SECTION */
.home-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.clr-btn {
  position: absolute;
  display: flex;
  top: 1.5em;
  right: 1.5em;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  outline: 0.2em solid var(--clr-accent);
  outline-offset: -1px;
  transition: var(--transition015);
}
.clr-btn:hover {
  box-shadow: 0 0 0.5em 0.2em var(--clr-accent);
}
.clr-btn-left {
  width: 50%;
  background-color: var(--clr-primary);
}
.clr-btn-right {
  width: 50%;
  background-color: var(--clr-secondary);
}
.myName {
  max-width: 400px;
}
.underline {
  width: 100%;
  height: 0.2em;
  background-color: var(--clr-accent);
  margin: 0 0 0.1em 0;
}
.about {
  padding-right: 2em;
}
@media screen and (min-width: 768px) {
  .underline {
    width: 85%;
  }
  .about {
    width: 85%;
  }
  .clr-btn {
    width: 1.8em;
    height: 1.8em;
    top: 1.8em;
    right: 1.8em;
  }
}
@media screen and (min-width: 1920px) {
  .underline {
    width: 80%;
  }
  .about {
    width: 70%;
  }
  .clr-btn {
    width: 1.8em;
    height: 1.8em;
    top: 2.2em;
    right: 2.2em;
  }
}
/* END OF HOME SECTION */

/* PROJECT SECTION */
.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-items {
  display: grid;
  grid-template-columns: auto;
  gap: 2em;
}
.project-item {
  position: relative;
  width: 100%;
  border: 0.1rem solid var(--clr-primary);
  padding: 0.5em;
}
.project-title {
  color: var(--clr-accent);
}
.project-info {
  padding: 1em 0.5em 0.5em 0;
}
.project-img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.project-img {
  /* ostavicu mogucnost da vidim sa slikom posle.. */
  /* display: none; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
  transition: var(--transition01);
}
.project-links {
  display: flex;
  flex-direction: column;
}
.project-link {
  text-decoration: none;
  font-size: 1.2em;
  color: var(--clr-accent);
  padding: var(--link-padding-sm);
  margin: var(--link-margin-sm);
  transition: var(--transition025);
}
.project-link:hover {
  cursor: pointer;
  background-color: var(--clr-primary);
  padding-left: 1em;
}
.project-tools {
  color: var(--clr-accent);
  padding: var(--link-padding-sm);
  margin: var(--link-margin-sm);
}
/* END OF PROJECT SECTION */

/* CONTACT SECTION */
.section-title {
  margin: 0 0 0.5em 0;
}
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-links {
  display: flex;
  flex-direction: column;
}
.contact-link {
  font-size: 1.2em;
  color: var(--clr-accent);
  text-decoration: none;
  padding: var(--link-padding-sm);
  margin: var(--link-margin-sm);
  transition: var(--transition025);
  padding-left: 0.5em;
}
.contact-link:hover {
  cursor: pointer;
  padding-left: 1em;
  background-color: var(--clr-primary);
}
/* END OF CONTACT SECTION */
.up-btn {
  width: 2.5em;
  height: 2.5em;
  position: fixed;
  right: 1.4em;
  bottom: 1.4em;
  background-color: var(--clr-secondary);
  opacity: 0.85;
  transition: var(--transition025);
}
.up-btn-show {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: none;
}
