html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "roboto";
  background-color: $clr-secondary;
  color: $clr-primary;
}
button {
  cursor: pointer;
}
h1 {
  font-size: $h1-font-size-sm;
  font-weight: 900;
  letter-spacing: 1.45px;
  text-transform: capitalize;
}
h2 {
  font-size: $h2-font-size-sm;
}
h3 {
  font-size: $h3-font-size-sm;
}
h4 {
  font-size: $h4-font-size-sm;
  letter-spacing: 1.3px;
}
h5 {
  font-size: $h5-font-size-sm;
}
p {
  font-size: $p-font-size-sm;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: $h1-font-size-md;
  }
  h2 {
    font-size: $h2-font-size-md;
  }
  h3 {
    font-size: $h3-font-size-md;
  }
  h4 {
    font-size: $h4-font-size-md;
  }
  h5 {
    font-size: $h5-font-size-md;
  }
  p {
    font-size: $p-font-size-md;
  }
}
section {
  padding: $paddig-section;
  max-width: 1440px;
  margin: auto;
  min-height: 90vh;
}
