* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "roboto";
  background-color: $clr-secondary;
}
h1 {
  font-size: $h1-font-size-sm;
  font-weight: 900;
  color: $clr-primary;
  text-transform: capitalize;
}
h2 {
  font-size: $h2-font-size-sm;
}
h3 {
  font-size: $h3-font-size-sm;
}
h4 {
  font-size: $h4-font-size-sm;
}
h5 {
  font-size: $h5-font-size-sm;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: $h1-font-size-md;
  }
}
section {
  padding: $paddig-section;
  max-width: 1440px;
  margin: auto;
}
